:root {
    font-family: 'Microsoft Yi Baiti';
    color-scheme: light dark;
    color: #252224;
    background-color: #f7f3f5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: Gabriola;
}
